html{
    height: 100%;
    background-color: rgb(105, 0, 105);
    box-shadow: 0px 0px 20px black inset;
}
.Button1{
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.1s;
    font-size: large;
    border-color:  purple;
    border-radius: 4px;
    cursor: pointer;

}
.Button1:hover{
    color: white;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black inset;
    font-size: 20px;
}
.Button1:active{
    color: white;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px white inset;
    transition: all 0.025s;
}
.header{
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 50px;
    text-shadow: 0px -5px 5px black;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0px 0px 5px black inset;
    background-color: rgb(133, 30, 133);
}
.text{
    font-family: 'Trebuchet MS';
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 20px black;

}