html, body{ margin: 0px; }
html{
    background-color: purple;
    box-shadow: 0px 0px 20px black inset;
}
.header{
    background-color: rgb(120, 44, 120); 
    width: 100%; 
    height: 80px;      
    box-shadow: 0px 0px 50px black inset;
    
    margin-top: -15px;
    color: rgba(255, 255, 255, 0.845);
    font-size: 50px;
    font-family: Impact, sans-serif;
    font-weight: bolder;
    transform: translate(0px, 15px);
    text-shadow: 0px 0px 10px black;
    text-align: center; 
    padding-top: 20px;
}
.Button1{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.1s;
    font-size: large;
    border-color:  purple;
    border-radius: 4px;
    text-align: center;
}
.Button1:hover{
    color: white;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black inset;
}
.Button1:active{
    color: white;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px white inset;
    transition: all 0.025s;
}
.nav-menu{
    width: 100%; 
    text-align: center; 
    background-color: rgb(120, 44, 120); 
    color: white;
    box-shadow: 0px 0px 10px black inset;
}
.nav-menu > div{
    margin: 0px; 
    margin-top: 15px; 
    display: flex; 
    justify-content: center;
}
.nav-Button{
    width: 120px;
    height: 50px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.5s;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.nav-Button:hover {
    color: white;
    text-shadow: 0px 0px 5px black;
}
.nav-Button:hover > .nav-Button-sub{
    height: 6px;
    background-color: rgb(70, 0, 70);
}
.nav-Button-sub{
    transition: all 0.1s;
    width: 100%;
    height: 0px;
    background-color: transparent;
    border-radius: 5px;
}
.TextContainer{
    transition: all 0.5s;
    box-shadow: 0px 0px 10px black; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.TextContainer:hover{
    box-shadow: 0px 0px 10px white; 
}
.TextContainer:hover h1{
    font-size: 30px;
    width: 500px;
}
.TextContainer:hover p{
    font-size: 20px;
    width: 500px;
}
.TextContainer > h1, .TextContainer > p{
    transition: all 0.5s;
    font-family: 'Trebuchet MS';
    color: white;
    text-shadow: 0px 0px 5px black;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    font-family: 'Trebuchet MS';
    color: white;
    text-shadow: 0px 0px 5px black;
    margin: -5px;
}
.dropdown{
    width: 120px;
    height: 50px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.5s;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.dropdown:hover > .nav-Button-sub{
    height: 6px;
    background-color: rgb(70, 0, 70);
}
.dropdown:hover .dropdown-content{
    display: inline-block;
    height: max-content;
    justify-content: center;
}
.dropdown:hover .dropdown-content-text{
    transition: all 0.5s;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.dropdown:hover .shoeDrop{
    display: flex;
}
.dropdown-content{
    display: none;
    transition: all 0.1s;
    position: absolute;
    background-color: rgb(70, 0, 70);
    z-index: 1;
    box-shadow: 0px 0px 10px black;
    transform: translate(-50%, 0px);
    height: 0px;
    border-radius: 5px;
    text-align: center;
}
.dropdown-content-text{
    transition: all 0.1s;
    color: transparent;
    margin: 8px;
}
.dropdown-content-displaytext{
    margin: 8px;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
}
.dropdown-content-text:hover{
    transition: all 0.1s;
    font-size: 25px;
}
.shoeDrop{
    transition: all 0.1s;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.footer > div{
    margin: 0px; 
    height: 100px; 
    display:flex; 
    flex-direction: row; 
    justify-content: space-between;
}
.footer > div > #footerLeft{
    margin-left: 10px; 
}
.footer > div > #footerCenter{
    
}
.footer > div > #footerRight{
    margin-right: 10px;
}
.footerText{
    font-size: 12px; 
    margin-top: 10px;
}
.ImageContainer{
    display: flex;
    box-shadow: 0px 0px 10px black;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ImageContainer > img{
    transition: all 0.5s;
    margin: 5px;
    box-shadow: 0px 0px 10px black;
}
.ImageContainer > div{
    box-shadow: 0px 0px 10px black;
    width: 100%;
    margin: 5px;
    margin-right: 10px;
    height: auto;
}
.TextContainer:hover ~ img{
    box-shadow: 0px 0px 10px white;
}
.ImageContainer > p{
    transition: all 0.3s;
    width: 0px;
    text-wrap: nowrap;
    transform: translate(-92px, -5px);
    color: transparent;
}
.ImageContainer > p > span{
    transition: all 0.3s;
    padding: 2px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
}
.ImageContainer > img:hover ~ p{
    color: black;
    transform: translate(-92px, calc(100% - 15px));
}
.ImageContainer > img ~ p:hover{
    color: rgb(0, 0, 0);
    transform: translate(-92px, calc(100% - 15px));
}
.ImageContainer > img:hover ~ p > span{
    border-color: #4f1355;
    background-color: #fcd1ff;
}
.ImageContainer > img ~ p:hover  > span{
    border-color: #4f1355;
    background-color: #db72e2;
    box-shadow: 0px 0px 4px white;
}
a{
    color: #e040e7;
    text-shadow: 0px 0px 5px #0700ff;
}
