@font-face {
    font-family: Font1;
    src: url(Kanit-Bold.ttf);
 }
@keyframes OnLoadTitle {
    0% {
        transform: translateY(-200px);
        font-size: 50px;
        rotate: 20deg;
    }
    100% {
        transform: translateY(-40px);
        font-size: 70px;
        rotate: 0deg;
    }
}
@keyframes HeaderSpacer {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}
@keyframes TextSpaceLoad {
    0% {
        filter: blur(100px);
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0px;
    }
    100% {
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 50px;
        filter: blur(0px);
    }
}
@keyframes BlurIn {
    0% {
        filter: blur(100px);
    }
    100% {
        filter: blur(0px);
    }
}
@keyframes ProjectBorder {
    0% {
        box-shadow: 0 0 0px purple;
    }
    100% {
        box-shadow: 0 0 25px purple;
    }
}
@keyframes ProjectText {
    0% {
        color: transparent;
    }
    100% {
        color: black;
    }
}
**{
    border-width: 1px;
    border-color: rgb(255, 0, 0);
    border-style: dashed;
}
html{
    background: #4200a7;
    height: 100%;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    height: 100%;
}
.background{
    height: calc(100% - 40px);
    border: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: rgb(87, 16, 87);
}
.background > header{
    height: 160px;
    text-align: center;
}
#title, #title2{
    animation: 2s cubic-bezier(0.08, 0.53, 0.73, 1) 0s 1 OnLoadTitle;
    transform: translateY(-40px);
    font-weight: bolder;
    font-family: Font1;
    font-size: 70px;
    width: 630px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    background: -webkit-linear-gradient(90deg, #6f00ff, #d448ff 80%), -webkit-linear-gradient(40deg, #000000, #ffffff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(183, 0, 255, 0.26);
    filter: drop-shadow(2px 2px #000000) drop-shadow(-2px -2px #000000);
}

#devider{
    animation: 3s cubic-bezier(0.08, 0.53, 0.73, 1) 0s 1 HeaderSpacer;
    transform: translateY(-80px);
    width: 80%; 
    height: 10px;
    font-size: 70px;
    background-color: purple; 
    align-self: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.main{
    text-align: center;
    display: grid;
    padding-bottom: 40px;
    max-width: 100%;
}
.main > div > #div1{
    display: flex;
    height: 400px;
    z-index: 1;
    position: relative;
    width: 90%;
    margin: auto;
    justify-content: center;
}
#TextSpace{
    animation: 3s ease-out 0s 1 TextSpaceLoad;
    text-shadow: 0 0 2px white;
    transition: all 1s ease-out;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 50px;
    margin: auto;
    transform-style: preserve-3d;
    will-change: transform;
    z-index: 1;
    position: relative;
    padding-bottom: 30px;
    width: 100%;
}
#TextSpace:hover {
    box-shadow: 0 0px 20px white;
}
#TextSpace > h1 {
    animation: 1s ease-out 0s 1 BlurIn;
    transition: all 1s;
    font-size: 80px;
    font-family: Font1;
    height: 40px;
    transform-style: preserve-3d;
    will-change: transform;
    transform: rotateX(0deg) translate3d(0px, -20px, 0px);
}
#TextSpace:hover > h1 {
    font-size: 70px;
    text-shadow: 0 0px 5px white;
    transform: rotateX(5deg) translate3d(0px, 15px, 10px);
}
.TextLine {
    transition: all 1s;
    font-family: Font1;
    font-size: 14px;
    transform-style: preserve-3d;
    will-change: transform;
    display: flex;
    justify-content: center;
    text-align: center;
}
#TextSpace:hover .TextLine {
    transform: rotateX(1deg) translate(0, 0px, 10px);
}
.TextLine > div {
    animation: 2s ease-out 0s 1 BlurIn;
    text-shadow: 0 0px 2px rgb(255, 255, 255);
    transition: all 2s;
    margin-left: 2px;
    margin-right: 2px;
}
#TextSpace:hover .TextLine > div {
    text-shadow: 0 2px 10px rgb(255, 255, 255);
    font-size: 25px;
    transition: all 0.5s;
}
#TextSpace:hover .TextLine > div:hover {
    text-shadow: 0 2px 10px rgb(255, 255, 255);
    font-size: 30px;
    transform: translate(0px, -5px);
}
#div2{
    animation: 3s ease-out 2s 1 ProjectBorder;
    animation-fill-mode: forwards;  

    transition: all ease-out 1s;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 50px;
}
#div2:hover{
    width: 85%;
    height: 510px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
#div2 > h1{
    position: absolute;
}
#div2 > #card{
    width: 630px;
    height: 500px;
    background-image: url(Image1.png);
    position: absolute;
    transform: scale(0.4, 0.4);
}
.Space{
    background: linear-gradient(transparent, black);
    height: 5000px;
    width: calc(100% + 64px);
    transform: translate(-32px);
}
.HiddenText{
    background: black;
    margin: 0px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 100px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    font-family: 'Font1';
}