:root{
    --Color1: rgb(56, 56, 56);
    --Color2: rgb(34, 34, 34);
    --Color3: rgb(20, 20, 20);
    --Color4: rgb(122, 122, 122);
    --Color5: rgb(15, 15, 15);

    --ColorText1: darkgrey;
    --ColorText2: #a7a7a7;
}
body{
    background-color: var(--Color1);
    text-align: center;
    justify-items: center;
    overflow: hidden;
    overflow: auto;
}
.button1{
    background-color: var(--Color2);
    border-radius: 30px;
    outline: none;
    outline-width: 4px;
    outline-color: var(--Color3);
    outline-style: solid;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    color: var(--ColorText1);
    font-family: math;
    font-size: 25px;
    font-weight: bolder;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 60px;
    width: 80%;
    transition: all 0.25s;
}
.button1:hover{
    box-shadow: 0 10px 5px black;
    border-width: 6px;
    border-radius: 10px;
    outline-color: var(--Color4);
}
.button1:active{
    transform: translate(0px, 2px);
    background-color: var(--Color5);
    box-shadow: 0 8px 5px black;
}
.Input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
p{
    font-family: monospace;
    font-size: x-large;
    margin: 4px;
    color: var(--ColorText2);;
}
.Input > input{
    width: 40px;
    padding: 4px;
    background-color: var(--Color1);
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: var(--Color2);
    color: var(--ColorText1);
    font-family: fantasy;
    font-size: larger;
}
#Before{
    transition: all 1s;
    height: 500px;
    overflow: hidden;
    overflow-y: hidden;
}
#After{
    transition: all 1s;
    height: 0px;
    overflow: hidden;
}
#After > h1{
    font-family: monospace;
    font-size: xx-large;
    margin: 4px;
    color: var(--Color4);
    font-weight: bold;
}
.EndText{
    font-family: monospace;
    font-size: xxx-large;
    margin: 4px;
    color: rgb(0 255 22);
    font-weight: bold;
    display: none;
}
.Letter{
    color: white;
    background-color: #6c6c6c;
    border-radius: 5px;
    width: 20px;
    height: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}
.Letters{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2px;
    margin-left: 4px;
    margin-right: 4px;
}
.Bordes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
._1{
    height: 12px;
    font-size: 14px;
}
._2{
    height: 16px;
    background-color: #c0c0c0;
}
._3{
    height: 12px;
}
._4{
    color: #4e4d4d;
    background-color: #e6e6e6;
}
.CharDivs{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    flex-wrap: wrap;
}
.CharDiv{
    background-color: #dadada;
    width: 18px;
    margin: 1px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.TheWords{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FinishWords{
    margin: 3px;
    padding: 1px;
    border-radius: 4px;
    background-color: #dadada;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 2px;
    padding-right: 2px;
}